<a href="https://colab.research.google.com/github/maaciekz/ROZNE2/blob/main/przyklady.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calculate_balance(balance, annualInterestRate, monthlyPaymentRate, month ):
    monthly_rate = annualInterestRate / 12
    minimum_payment = balance * monthlyPaymentRate
    unpaid_balance = balance - minimum_payment
    updated_balance = unpaid_balance + (unpaid_balance * monthly_rate)
    if month == 12:
      return updated_balance
    else:
      return calculate_balance(updated_balance, annualInterestRate, monthlyPaymentRate, month + 1 )

In [ ]:
balance = 42
annualInterestRate = 0.2
monthlyPaymentRate = 0.04
month = 1
monthly_rate = annualInterestRate / 12
updated_balance = balance
while month <= 12:
    minimum_payment = updated_balance * monthlyPaymentRate
    unpaid_balance = updated_balance - minimum_payment
    updated_balance = unpaid_balance + (unpaid_balance * monthly_rate)
    month += 1
print('Remaining balance:',  round(updated_balance ,2))

Remaining balance: 31.38

In [ ]:
print(calculate_balance(42, 0.2, 0.04, 1))

31.379578260339404

In [ ]:

a = 42 - ( )

In [9]:
def oddTuples(aTup):
    '''
    aTup: a tuple

    returns: tuple, every other element of aTup.
    '''
    # Your Code Here
    i = 0
    newTup = []
    for a in aTup:
        if i % 2 == 0:
           newTup.append(a)
        i += 1
    return tuple(newTup)

In [12]:
listA = [1, 4, 3, 0]

In [13]:
listA.insert(0, 100)

In [14]:
listA

[100, 1, 4, 3, 0]

In [18]:
listB = ['x', 'z', 't', 'q']
listB.sort()

In [10]:
print(oddTuples(('I', 'am', 'a', 'test', 'tuple')))

('I', 'a', 'tuple')

In [3]:
listA =[100, 1, 4, 7, 'x', 'z', 't', 'q', 4, 1, 6, 3, 4]
listA.reverse()
listA

[4, 3, 6, 1, 4, 'q', 't', 'z', 'x', 7, 4, 1, 100]

In [4]:
aList = [0, 1, 2, 3, 4, 5]
bList = aList
aList[2] = 'hello'
print(aList == bList)

True

In [5]:
aList is bList

True

In [7]:
bList

[0, 1, 'hello', 3, 4, 5]

In [8]:
cList = [6, 5, 4, 3, 2]
dList = []
for num in cList:
        dList.append(num)

In [9]:
cList == dList

True

In [3]:
testList = [1, -4, 8, -9]
def applyToEach(L, f):
    for i in range(len(L)):
        L[i] = f(L[i])
def inc(a):
    return a+1
applyToEach(testList, inc)
testList

[2, -3, 9, -8]

In [1]:
animals = {'a': 'aardvark', 'b': 'baboon', 'c': 'coati'}

animals['d'] = 'donkey'

In [2]:
animals

{'a': 'aardvark', 'b': 'baboon', 'c': 'coati', 'd': 'donkey'}